In [1]:
# Importing Library Numpy
import numpy as np    # np alias

In [2]:
x = np.array([1,2,3,4])
print(x)
print(type(x))

[1 2 3 4]
<class 'numpy.ndarray'>

In [7]:
%timeit [j*4 for j in range(1,6)]

722 ns ± 94.2 ns per loop (mean ± std. dev. of 7 runs, 1,000,000 loops each)

In [8]:
%timeit np.arange(1,9)*4

1.83 µs ± 160 ns per loop (mean ± std. dev. of 7 runs, 1,000,000 loops each)

In [2]:
lst = [1,2,3,4]
arr = np.array(lst)
print(type(arr))
print(arr.shape)

<class 'numpy.ndarray'>
(4,)

In [3]:
lst1 = [1,2,3,4,5]
lst2 = [2,3,4,5,6]
lst3 = [3,4,5,6,7]

arr1 = np.array([lst1,lst2,lst3])

In [4]:
arr1.shape     # Output - (Number of Rows,Number of Colum)

(3, 5)

In [6]:
# Indexing
arr[1:3]

array([2, 3])

In [7]:
arr1[:,1]     # Har Row ka 1 Column print kar dega [:,1] , se phela denote rows and , ke baad denote column

array([2, 3, 4])

In [8]:
arr1[1:,1:3]

array([[3, 4],
       [4, 5]])

In [11]:
# EDA POV
arr=[1,2,3,4,5]
arr=np.array(arr)
arr

array([1, 2, 3, 4, 5])

In [12]:
arr<2

array([ True, False, False, False, False])

In [13]:
arr>=2

array([False,  True,  True,  True,  True])

In [14]:
arr[arr<=2]

array([1, 2])

In [15]:
arr1

array([[1, 2, 3, 4, 5],
       [2, 3, 4, 5, 6],
       [3, 4, 5, 6, 7]])

In [17]:
arr1.reshape(15,1)

array([[1],
       [2],
       [3],
       [4],
       [5],
       [2],
       [3],
       [4],
       [5],
       [6],
       [3],
       [4],
       [5],
       [6],
       [7]])

In [18]:
arr1.reshape(3,5)

array([[1, 2, 3, 4, 5],
       [2, 3, 4, 5, 6],
       [3, 4, 5, 6, 7]])

In [21]:
# Mechanism to create an array
np.arange(1,11,1).reshape(2,5)

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10]])

In [22]:
# Multiplication
arr*arr

array([ 1,  4,  9, 16, 25])

In [23]:
arr1*2

array([[ 2,  4,  6,  8, 10],
       [ 4,  6,  8, 10, 12],
       [ 6,  8, 10, 12, 14]])

In [24]:
arr1*arr1

array([[ 1,  4,  9, 16, 25],
       [ 4,  9, 16, 25, 36],
       [ 9, 16, 25, 36, 49]])

In [28]:
# ones
np.ones((5,3))

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [29]:
np.ones_like((5,3))

array([1, 1])

In [30]:
np.zeros((5,3))

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [33]:
np.zeros_like((9,3))

array([0, 0])

In [40]:
np.random.randint(10,50,4).reshape(2,2)

array([[41, 49],
       [34, 10]])

In [42]:
np.random.randn(5,3)

array([[ 0.32254869, -0.05938188,  3.72097284],
       [-0.87188507, -0.30408432,  1.18539205],
       [ 0.89289287,  0.5238463 , -0.55472547],
       [-1.40816035,  1.57783963, -0.26951636],
       [-0.2426711 , -1.03299822,  0.81800397]])

In [43]:
np.random.random_sample((4,3))

array([[0.88692256, 0.55857179, 0.03262095],
       [0.00625772, 0.74229907, 0.07746393],
       [0.0657504 , 0.53191787, 0.74650823],
       [0.27736361, 0.45670743, 0.31230206]])

In [5]:
np.ones((5,3),dtype=int)

array([[1, 1, 1],
       [1, 1, 1],
       [1, 1, 1],
       [1, 1, 1],
       [1, 1, 1]])

In [1]:
%timeit [j**4 for j in range(1,9)]

1.97 µs ± 52.2 ns per loop (mean ± std. dev. of 7 runs, 100,000 loops each)

In [6]:
%timeit np.arange(1,9)**4

1.38 µs ± 18.1 ns per loop (mean ± std. dev. of 7 runs, 1,000,000 loops each)

In [7]:
x = np.arange(1,9)**4
print(x)

[   1   16   81  256  625 1296 2401 4096]

# Array

In [1]:
import numpy as np
x = [1,2,3,4]
y = np.array(x)
print(y)

[1 2 3 4]

In [2]:
y = np.array([1,2,3,4])
print(y)
print(type(y))
y

[1 2 3 4]
<class 'numpy.ndarray'>

array([1, 2, 3, 4])

In [3]:
l = []
for i in range(5):
    int_i = int(input("Enter:"))
    l.append(int_i)
x = np.array(l)
print(x)

Enter:1
Enter:2
Enter:3
Enter:4
Enter:5
[1 2 3 4 5]

In [17]:
# ndim function is used to find the dimension of an array
print(x.ndim)

1

In [18]:
ar2 = np.array([[1,2,3,4],[1,2,3,4]])
print(ar2)
print(ar2.ndim)

[[1 2 3 4]
 [1 2 3 4]]
2

In [20]:
ar3 = np.array([[[1,2,3,4],[1,2,3,4],[1,2,3,4]]])
print(ar3)
print(ar3.ndim)

[[[1 2 3 4]
  [1 2 3 4]
  [1 2 3 4]]]
3

In [5]:
# ndmin function is used to create multidimensional array 
arn = np.array([1,2,3,4],ndmin = 10)
print(arn)
print(arn.ndim)

[[[[[[[[[[1 2 3 4]]]]]]]]]]
10

In [9]:
# array filled with 0's
arr = np.zeros(4)
arr_zero = np.zeros(4,dtype = int)
arr_zero1 = np.zeros((3,4),dtype = int)
print(arr)
print()
print(arr_zero)
print()
print(arr_zero1)

[0. 0. 0. 0.]

[0 0 0 0]

[[0 0 0 0]
 [0 0 0 0]
 [0 0 0 0]]

In [16]:
# array filled with 1's
arr_ones = np.ones(4,dtype = int)
arr_ones1 = np.ones((3,4),dtype = int)
print(arr_one)
print()
print(arr_ones1)

[1 1 1 1]

[[1 1 1 1]
 [1 1 1 1]
 [1 1 1 1]]

In [20]:
# Empty Array
empty = np.empty(4,dtype = int)
print(empty)

[0 0 0 0]

In [12]:
# array of particular range
arr_range = np.arange(9)
print(arr_range)

[0 1 2 3 4 5 6 7 8]

In [28]:
# Array diagonal element filled with 1's
arr_diagonal = np.eye(3,dtype = int)
arr_diagonal1 = np.eye(3,5,dtype=int)
print(arr_diagonal)
print()
print(arr_diagonal1)

[[1 0 0]
 [0 1 0]
 [0 0 1]]

[[1 0 0 0 0]
 [0 1 0 0 0]
 [0 0 1 0 0]]

In [36]:
# Array with special interval
arr_lin = np.linspace(0,10,num=5)
print(arr_lin)

[ 0.   2.5  5.   7.5 10. ]

In [13]:
arr_lin = np.linspace(0,10,num=10)
print(arr_lin)

[ 0.          1.11111111  2.22222222  3.33333333  4.44444444  5.55555556
  6.66666667  7.77777778  8.88888889 10.        ]

# Random

In [41]:
# Create Numpy array with random numbers
# rand() - generate a random value between 0 to 1
# randn() - generate a random value close to zero either +ve or -ve
# ranf() - it return an array of specified shape and fill it with half open interval [0.0,1.0) [-0.0 is included, ) - 1.0 not included
# randint() - g enerate a random value between a given range.

# rand()

import numpy as np
var = np.random.rand(3)
var1 = np.random.rand(3,5)
print(var)
print()
print(var1)

[0.20768728 0.25680953 0.98249671]

[[0.60398564 0.85866386 0.11371147 0.10596726 0.69389598]
 [0.21765677 0.23257873 0.16660515 0.46063948 0.5210501 ]
 [0.22288394 0.18730357 0.62772403 0.11603192 0.96071368]]

In [45]:
# randn()
var = np.random.randn(3)
var1 = np.random.randn(3,5)
print(var)
print()
print(var1)

[-0.02717498 -1.51433871 -0.35920398]

[[-0.84104585 -0.34650205  0.18264254 -0.89435889 -0.59807961]
 [ 1.99643436 -0.77378274 -2.27708139 -0.39163694 -1.08298025]
 [-0.83537827 -0.89162828  0.56429133  0.03919371 -0.21460998]]

In [50]:
# ranf()
var = np.random.ranf(5)
var1 = np.random.ranf((5,5))
print(var)
print()
print(var1)

[0.3311058  0.05452538 0.61914561 0.93489359 0.55339366]

[[0.53922648 0.44193345 0.10251131 0.73745101 0.99899091]
 [0.10558491 0.27623218 0.09333573 0.57979624 0.25679917]
 [0.4410595  0.99639421 0.4875064  0.81937831 0.8508352 ]
 [0.57033171 0.96861461 0.87995431 0.27600168 0.58388522]
 [0.23138259 0.36045709 0.65592486 0.81657749 0.20570596]]

In [52]:
# randint()
var = np.random.randint(0,100,5)
print(var)

[71 63 58 76  1]

# Data Types in Numpy

In [54]:
import numpy as np

arr = np.array([1,2,3,4])
print("Data Type: ",arr.dtype)

Data Type:  <U11

In [55]:
arr = np.array([1.0,2.11,3.33,4.24])
print("Data Type: ",arr.dtype)

Data Type:  float64

In [57]:
arr = np.array(["Hi","Bye","Hellooo","Nice"])
print("Data Type: ",arr.dtype)

Data Type:  <U7

In [59]:
arr = np.array([1,2,3,4,"Hi","Bye","Hellooooo","Nice"])
print("Data Type: ",arr.dtype)

Data Type:  <U11

In [60]:
# i - Integer
# b - Boolean
# u - Unsigned Integer
# f - Float
# c - Complex Float
# m - Timedelta
# M - Datetime
# O - Object
# S - String
# U - Unicode String
# V - The Fixed Chunk Of Memory For Other Types (Void)

# Conversion

In [3]:
x = np.array([1,2,3,4])
print("Data Type: ",x.dtype)
print(x)
x = np.array([1,2,3,4],dtype = np.int8)
print("Data Type: ",x.dtype)
print(x)

Data Type:  int32
[1 2 3 4]
Data Type:  int8
[1 2 3 4]

In [65]:
x1 = np.array([1,2,3,4],dtype = "f")
print("Data Type: ",x1.dtype)
print(x1)

Data Type:  float32
[1. 2. 3. 4.]

In [5]:
x2 = np.array([1,2,3,4])
new = np.float32(x2)
print("Data Type: ",x2.dtype)
print(x2)
print("Data Type: ",new.dtype)
print(new)

Data Type:  int32
[1 2 3 4]
Data Type:  float32
[1. 2. 3. 4.]

In [67]:
x2 = np.array([1,2,3,4])
new = np.float32(x2)
new1 = np.int64(new)
print("Data Type: ",x2.dtype)
print(x2)
print("Data Type: ",new.dtype)
print(new)
print("Data Type: ",new1.dtype)
print(new1)

Data Type:  int32
[1 2 3 4]
Data Type:  float32
[1. 2. 3. 4.]
Data Type:  int64
[1 2 3 4]

In [68]:
x3 = np.array([1,2,3,4])
print("Data Type: ",x3.dtype)
print(x3)
new2 = x3.astype(float)
print("Data Type: ",new2.dtype)
print(new2)

Data Type:  int32
[1 2 3 4]
Data Type:  float64
[1. 2. 3. 4.]

# Arithmetic Operations in Array

In [69]:
import numpy as np
var = np.array([1,2,3,4])
varadd = var + 1
print(varadd)

[2 3 4 5]

In [7]:
var = np.array([1,2,3,4])
varadd = np.add(var,1)
print(varadd)

[2 3 4 5]

In [70]:
var1 = np.array([1,2,3,4])
var2 = np.array([1,2,3,4])
varadd = var1 + var2
print(varadd)

[2 4 6 8]

In [76]:
var1 = np.array([1,2,3,4])
var2 = np.array([1,2,3,4])
varadd = np.add(var1,var2)
print(varadd)

[2 4 6 8]

In [8]:
var = np.array([1,2,3,4])
varsub = var - 1
print(varsub)

[0 1 2 3]

In [9]:
var1 = np.array([1,2,3,4])
var2 = np.array([1,2,3,4])
varsub = np.subtract(var1,1)
print(varsub)

[0 1 2 3]

In [10]:
var1 = np.array([1,2,3,4])
var2 = np.array([1,0,1,5])
varsub = np.subtract(var1,var2)
print(varsub)

[ 0  2  2 -1]

In [16]:
var = np.array([1,2,3,4])

varmul = var * 2
print(varmul)

varmul = np.multiply(var,3)
print(varmul)

[2 4 6 8]
[ 3  6  9 12]

In [19]:
var = np.array([1,2,3,4])
vardiv = var / 2
print(vardiv)
vardiv = np.divide(var,2)
print(vardiv)

[0.5 1.  1.5 2. ]
[0.5 1.  1.5 2. ]

In [20]:
var = np.array([1,2,3,4])
varmod = var % 2
print(varmod)
varmod = np.mod(var,2)
print(varmod)

[1 0 1 0]
[1 0 1 0]

In [15]:
var1 = np.array([1,2,3,4])
varreci = np.reciprocal(var1)
print(varreci)

[1 0 0 0]

# 2D Array

In [22]:
var21 = np.array([[1,2,3,4],[1,2,3,4]])
var22 = np.array([[1,2,3,4],[1,2,3,4]])
print(var21)
print()
print(var22)
print()
varadd2 = var21 + var22
print(varadd2)

[[1 2 3 4]
 [1 2 3 4]]

[[1 2 3 4]
 [1 2 3 4]]

[[2 4 6 8]
 [2 4 6 8]]

# Some more Arithmetic Function

In [90]:
import numpy as np

var = np.array([1,2,3,4,5,3,2])

print("min in var: ",np.min(var))
print("max in var: ",np.max(var))
print("position of min: ",np.argmin(var))
print("position of max: ",np.argmax(var))
print("Sqrt : ",np.sqrt(var))

min in var:  1
max in var:  5
position of min:  0
position of max:  4
Sqrt :  [1.         1.41421356 1.73205081 2.         2.23606798 1.73205081
 1.41421356]

In [95]:
var1 = np.array([[2,1,3],[9,5,6]])

print("min in var: ",np.min(var1,axis = 1))   # for row we use axis = 1 and for column we use axis = 0
print("max in var: ",np.max(var1, axis = 0))
print("position of min: ",np.argmin(var1))
print("position of max: ",np.argmax(var1))

min in var:  [1 5]
max in var:  [9 5 6]
position of min:  1
position of max:  3
[ 2  3  6 15 20 26]

In [94]:
var2 = np.array([1,2,3])
print(np.sin(var2))
print(np.cos(var2))
print(np.cumsum(var2))

[0.84147098 0.90929743 0.14112001]
[ 0.54030231 -0.41614684 -0.9899925 ]
[1 3 6]

In [96]:
var1 = np.array([[2,1,3],[9,5,6]])
print(np.cumsum(var1))

[ 2  3  6 15 20 26]

# Shape

In [99]:
import numpy as np

var = np.array([[1,2],[1,2]])
print(var)
print(var.ndim)
print(var.shape)

[[1 2]
 [1 2]]
2
(2, 2)

In [103]:
var1 = np.array([1,2,3.4,5],ndmin=4)
print(var1)
print(var1.ndim)
print(var1.shape)

[[[[1.  2.  3.4 5. ]]]]
4
(1, 1, 1, 4)

# Reshape

In [105]:
var2 = np.array([1,2,3,4,5,6])
print(var2)
print(var2.ndim)
x = var2.reshape(3,2)
print(x)
print(x.ndim)

[1 2 3 4 5 6]
1
[[1 2]
 [3 4]
 [5 6]]
2

In [112]:
var3 = np.array([1,2,3,4,5,6,1,2,3,4,5,6])
print(var3)
print(var3.ndim)
x1 = var3.reshape(2,2,3)
print()
print(x1)
print(x1.ndim)
print()
one = x1.reshape(-1) # it will convert any dimension array to 1 dimension array
print(one)
print(one.ndim)

[1 2 3 4 5 6 1 2 3 4 5 6]
1

[[[1 2 3]
  [4 5 6]]

 [[1 2 3]
  [4 5 6]]]
3

[1 2 3 4 5 6 1 2 3 4 5 6]
1

# Broadcasting in numpy array

In [116]:
import numpy as np
var1 = np.array([1,2,3,4])
print(var1)
print(var1.shape)
print(var1.ndim)
var2 = np.array([[1],[2],[3]])
print(var2)
print(var2.shape)
print(var2.ndim)
print(var1 + var2)

[1 2 3 4]
(4,)
1
[[1]
 [2]
 [3]]
(3, 1)
2
[[2 3 4 5]
 [3 4 5 6]
 [4 5 6 7]]

# Indexing in Numpy Array

In [119]:
import numpy as np

var = np.array([9,8,7,6])
print(var[0])
print(var[3])
print(var[-3])

9
6
8

In [122]:
var1 = np.array([[1,2,3,4],[5,6,7,8],[9,10,11,12]])
print(var1)
print(var1[0][3])
print(var1[2][1])

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]
4
10

In [123]:
var1 = np.array([[[1,2,3,4],[5,6,7,8]],[[9,10,11,12],[13,14,15,16]]])
print(var1)
print(var1[0][0][0])
print(var1[1][1][2])

[[[ 1  2  3  4]
  [ 5  6  7  8]]

 [[ 9 10 11 12]
  [13 14 15 16]]]
1
15

# Slicing in Numpy Array

In [125]:
var = np.array([9,8,7,6])
print(var[0:2])
print(var[0:])

[9 8]
[9 8 7 6]

In [127]:
var1 = np.array([[1,2,3,4],[5,6,7,8],[9,10,11,12]])
print(var1[0][1:3])

[2 3]

# Iteration

In [1]:
import numpy as np
var = np.array([9,8,7,6,5,4])
print(var)
print()
for i in var:
    print(i)

[9 8 7 6 5 4]

9
8
7
6
5
4

In [4]:
var1 = np.array([[9,8,7,6,5,4],[1,2,3,4,5,6]])
print(var1)
print()
for i in var1:
    print(i)
    for j in i:
        print(j)
    print()

[[9 8 7 6 5 4]
 [1 2 3 4 5 6]]

[9 8 7 6 5 4]
9
8
7
6
5
4

[1 2 3 4 5 6]
1
2
3
4
5
6

In [9]:
var2 = np.array([[9,8,7,6,5,4],[1,2,3,4,5,6]])
for i in np.nditer(var2,flags=['buffered'],op_dtypes=["S"]):
    print(i)

b'9'
b'8'
b'7'
b'6'
b'5'
b'4'
b'1'
b'2'
b'3'
b'4'
b'5'
b'6'

In [11]:
var1 = np.array([[9,8,7,6,5,4],[1,2,3,4,5,6]])
for i,d in np.ndenumerate(var2):
    print(i,d)

(0, 0) 9
(0, 1) 8
(0, 2) 7
(0, 3) 6
(0, 4) 5
(0, 5) 4
(1, 0) 1
(1, 1) 2
(1, 2) 3
(1, 3) 4
(1, 4) 5
(1, 5) 6

# Copy and View

In [19]:
import numpy as np
var = np.array([1,2,3,4,5])
var[1]=40
print("var :", var)
co = var.copy()
print("copy :",co)
co[1]=2
print("var :", var)
print("copy :",co)

var : [ 1 40  3  4  5]
copy : [ 1 40  3  4  5]
var : [ 1 40  3  4  5]
copy : [1 2 3 4 5]

In [21]:
x = np.array([1,2,3,4,5])
vi = x.view()
print("x : ",x)
print("View : ",vi)
vi[1]=40
print("var :", x)
print("copy :",vi)

x :  [1 2 3 4 5]
View :  [1 2 3 4 5]
var : [ 1 40  3  4  5]
copy : [ 1 40  3  4  5]

In [22]:
# Copy Vs View
# The copy owns the data, The view does not own the data.
# The copy of an array is a new array, A view is the original array.
# The changes made in copy data does not reflect in the original array.
# Any changes made to the view will affect the original array and vice versa.

# Join Array

In [24]:
import numpy as np
var = np.array([1,2,3,4,5])
var1 = np.array([9,8,7,6])
arr = np.concatenate((var,var1))
print(arr)

[1 2 3 4 5 9 8 7 6]

In [30]:
var2 = np.array([[9,8,7,6,5,4],[1,2,3,4,5,6]])
var3 = np.array([[1,2,3,4,5,6],[7,8,9,9,6,7]])
arr1 = np.concatenate((var2,var3),axis=1)
print(arr1)
print()
arr2 = np.concatenate((var2,var3),axis=0)
print(arr2)

[[9 8 7 6 5 4 1 2 3 4 5 6]
 [1 2 3 4 5 6 7 8 9 9 6 7]]

[[9 8 7 6 5 4]
 [1 2 3 4 5 6]
 [1 2 3 4 5 6]
 [7 8 9 9 6 7]]

In [38]:
var = np.array([1,2,3,4,5])
var1 = np.array([9,8,7,6,5])
arr3 = np.hstack((var,var1))
arr4 = np.vstack((var,var1))
arr5 = np.dstack((var,var1))
arr6 = np.stack((var,var1),axis=1)
print(arr3)
print(arr4)
print(arr5)
print(arr6)

[1 2 3 4 5 9 8 7 6 5]
[[1 2 3 4 5]
 [9 8 7 6 5]]
[[[1 9]
  [2 8]
  [3 7]
  [4 6]
  [5 5]]]
[[1 9]
 [2 8]
 [3 7]
 [4 6]
 [5 5]]

# Function

In [1]:
import numpy as np

# Search

In [11]:
var = np.array([1,2,3,4,2,5,2,5,7,6,7])

x = np.where(var == 2)
y = np.where(var/2 == 1)
print(x)
print(y)

(array([1, 4, 6], dtype=int64),)
(array([1, 4, 6], dtype=int64),)

# Search Sorted Array

In [14]:
var1 = np.array([1,2,4,6,7,8])
x1 = np.searchsorted(var1,5)
x3 = np.searchsorted(var1,3,side="right")
print(x1)
print(x3)

3
2

In [15]:
var1 = np.array([1,2,4,6,7,8])
x1 = np.searchsorted(var1,[5,6,7],side="right")
print(x1)

[3 4 5]

# Sort

In [16]:
var = np.array([1,4,6,8,2,3,9,6,4])
x = np.sort(var)
print(x)

[1 2 3 4 4 6 6 8 9]

# Filter

In [20]:
var = np.array(['a','s','d','f'])
f = [True,False,False,True]
new_arr = var[f]
print(new_arr)
print(type(new_arr))

['a' 'f']
<class 'numpy.ndarray'>

# Shuffle

In [22]:
var = np.array([1,2,3,4,5])
np.random.shuffle(var)
print(var)

[2 1 3 4 5]

In [26]:
var = np.array([1,2,2,2,3,4,3,4,5,5,6,6,4,4,3,5])
x = np.unique(var,return_index=True)
y = np.unique(var,return_counts=True)
print(x)
print(y)

(array([1, 2, 3, 4, 5, 6]), array([ 0,  1,  4,  5,  8, 10], dtype=int64))
(array([1, 2, 3, 4, 5, 6]), array([1, 3, 3, 4, 3, 2], dtype=int64))

In [30]:
var = np.array([1,2,3,4,5,6])
y = np.resize(var,(2,3))
print(y)
print(y.shape)
print(y.ndim)

[[1 2 3]
 [4 5 6]]
(2, 3)
2

In [10]:
var = np.array([1,2,3,4,5,6])
y = np.resize(var,(2,3))
print(y)
print()
print(y.flatten())
print()
print("Flatten: ",y.flatten(order="F"))
print()
print("Ravel: ",np.ravel(y))
print()
print("Ravel: ",np.ravel(y,order="A"))
print("Ravel: ",np.ravel(y,order="F"))

[[1 2 3]
 [4 5 6]]

[1 2 3 4 5 6]

Flatten:  [1 4 2 5 3 6]

Ravel:  [1 2 3 4 5 6]

Ravel:  [1 2 3 4 5 6]
Ravel:  [1 4 2 5 3 6]

# Insert

In [12]:
import numpy as np

In [13]:
var = np.array([1,2,3,4])
print(var)

[1 2 3 4]

In [18]:
v = np.insert(var,2,5)
print(v)
v = np.insert(v,5,6)
print(v)

[1 2 5 3 4]
[1 2 5 3 4 6]

In [27]:
var = np.array([[1,2,3],[1,2,3]])
v1 = np.insert(var,2,6,axis=0)
print(v1)
print()
v2 = np.insert(var,2,6,axis=1)
print(v2)
print()
v3 = np.insert(var,2,[22,23],axis=1)
print(v3)
print()
v3 = np.insert(var,2,[22,23,24],axis=0)
print(v3)
print()

[[1 2 3]
 [1 2 3]
 [6 6 6]]

[[1 2 6 3]
 [1 2 6 3]]

[[ 1  2 22  3]
 [ 1  2 23  3]]

[[ 1  2  3]
 [ 1  2  3]
 [22 23 24]]

In [28]:
var = np.array([1,2,3,4])
x = np.append(var,6.5)
print(x)
var = np.array([[1,2,3],[1,2,3]])
y = np.append(var,[[45,2,3]],axis = 0)
print(y)

[1.  2.  3.  4.  6.5]
[[ 1  2  3]
 [ 1  2  3]
 [45  2  3]]

# Delet